<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vehicle Information</title>
</head>
<body>
    <h2>Enter Vehicle Registration Number</h2>
    <div th:if="${errorMessage}" th:text="${errorMessage}" style="color:red;"></div>
    <form action="/vehicles" method="post">
        <label for="registrationNumber">Registration Number:</label>
        <input type="text" id="registrationNumber" name="registrationNumber">
        <button type="submit">Submit</button>
    </form>
</body>
</html>
