<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Set Reminder</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
   
   
    <style>
        .centered-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh; /* Use 100vh to take full viewport height */
            padding: 40px 0;
        }
        .form-container {
            width: 100%;
            max-width: 330px;
            margin: auto;
        }
        .green-link {
        color: #28a745; /* Bootstrap's success green */
      }
    </style>
</head>
<body>
    <div th:replace="~{navbar :: common-navbar}"></div>
    <div class="centered-container">
        <div class="form-container">
            <h1 class="h3 mb-3 font-weight-normal">Set Reminder</h1>
            <form id="reminderForm" action="/setreminder" method="post">
                <div class="form-group  mb-3">
                    <label for="reminderDate">Date</label>
                    <input type="date" id="yourDateInputId" name="reminderDate" class="form-control" required> 
                </div>
            <div class="form-group  
                <button class="btn btn-lg btn-primary btn-block" type="submit">Set Reminder</button>
            </form>
          </div>
    </div>
</body>
<script type="module">
  import { adjustLoginLogoutLink } from '/js/firebase-status.js'
  adjustLoginLogoutLink()
</script>
<script th:inline="javascript">
    /*<![CDATA[*/
    var reminderDate = /*[[${reminderDate}]]*/ "defaultDate";
    if (reminderDate !== "defaultDate") {
      localStorage.setItem("reminderDate", reminderDate.toString());
    }
    /*]]>*/
  </script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      var storedDate = localStorage.getItem("reminderDate");
      if (storedDate) {
        // Logic to prepopulate your calendar with storedDate
        // This might involve setting the value of a date input, for example
        document.getElementById("yourDateInputId").value = storedDate;
      }
    });
  </script>
</html>
```
